# =========================
# Data (tracked by DVC)
# =========================
data/**

# But keep DVC metafiles inside data
!data/**/*.dvc
!data/**/.gitkeep

# If you use DVC pipelines later
!dvc.yaml
!dvc.lock

# =========================
# Outputs (choose one strategy)
# =========================
# Option A: track models/reports with DVC too (recommended later)
models/**
reports/**
!models/**/*.dvc
!reports/**/*.dvc
!models/**/.gitkeep
!reports/**/.gitkeep

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
