# =========================
# Data (DVC)
# =========================

# Ignore everything under data
data/**

# Re-allow directories so git can reach the .dvc files
!data/
!data/**/

# Keep DVC metafiles
!data/**/*.dvc
!data/**/.gitkeep

# =========================
# DVC files
# =========================
!dvc.yaml
!dvc.lock

# =========================
# Python / Jupyter / OS
# =========================
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv/
venv/
.DS_Store
Thumbs.db